# Data summaries for the MSS dataframe

### Load the `pandas` library

In [210]:
import pandas as pd
pd.__version__

'0.17.1'

### Load the `numpy` library

In [211]:
import numpy as np
np.__version__

'1.10.4'

### Read the dataframe from the `mss_df.pkl` _pickle_ file.

In [212]:
save_load_path = '/Users/David/Desktop'
mss_df = pd.read_pickle(save_load_path+'/mss_df.pkl')

### Display the dimensions (shape) and columns of the dataframe.

In [213]:
print('shape:',mss_df.shape)
print('columns:',mss_df.columns.values)
mss_df.dtypes

shape: (10000, 16)
columns: ['danceability' 'duration' 'energy' 'key' 'loudness' 'mode' 'tempo'
 'time_signature' 'artist_familiarity' 'artist_hotttnesss'
 'song_hotttnesss' 'genre' 'title' 'artist_location'
 'releaseartist_longitude' 'artist_latitude']

danceability               float64
duration                   float64
energy                     float64
key                          int32
loudness                   float64
mode                         int32
tempo                      float64
time_signature               int32
artist_familiarity         float64
artist_hotttnesss          float64
song_hotttnesss            float64
genre                       object
title                       object
artist_location             object
releaseartist_longitude     object
artist_latitude            float64
dtype: object

### Look for categorical variables and for single value variables

Notice that variable `mode` has two values, `key` has twelve (12) values and both `danceability` and `energy` have all values equal to zero (0).

Variables `mode` and `key` will become categorical variables. 

Variables `danceability` and `energy` will be removed from the dataframe.

In [209]:
for colname in mss_df.columns.values:
    print('Column:',colname)
    print(mss_df[colname].unique())
    print('')

Column: danceability
[ 0.]

Column: duration
[ 218.93179  148.03546  177.47546 ...,  314.5922   141.73995  386.19383]

Column: energy
[ 0.]

Column: key
[ 1  6  8  0  2  5  4  7  9 10  3 11]

Column: loudness
[-11.197  -9.843  -9.689 ..., -12.087 -12.574  -5.324]

Column: mode
[0 1]

Column: tempo
[  92.198  121.274  100.07  ...,  118.123  137.663  150.575]

Column: time_signature
[4 1 3 5 7 0]

Column: artist_familiarity
[ 0.58179377  0.63063004  0.48735679 ...,  0.38359402  0.65089597
  0.5820348 ]

Column: artist_hotttnesss
[ 0.40199754  0.41749964  0.34342838 ...,  0.22021045  0.31502571
  0.46905598]

Column: song_hotttnesss
[ 0.60211999         nan  0.60450074 ...,  0.66319397  0.69097095
  0.7803116 ]

Column: genre
[b'']

Column: title
[b"I Didn't Mean To" b'Soul Deep' b'Amor De Cabaret' ...,
 b'Sentimental Man' b'Zydeco In D-Minor' b'Shattered Life']

Column: artist_location
[b'California - LA' b'Memphis, TN' b'' ..., b'Aitkin, MN' b'Cullendale, AR'
 b'Alexandria, Egypt']

Column: releaseartist_longitude
[nan]

Column: artist_latitude
[             nan   3.51496800e+01   3.52196200e+01   4.36485600e+01
   3.71679300e+01   3.43110900e+01   3.88991000e+01   4.98038800e+01
   4.08262400e+01   3.78372100e+01   3.26782800e+01   4.07919500e+01
   4.07319700e+01   4.18841500e+01   2.79401700e+01   4.07038000e+01
   3.00861500e+01   2.94244900e+01   3.40534900e+01   4.23316800e+01
   5.15063200e+01   3.59146300e+01   3.43640100e+01   3.27781500e+01
   5.25160700e+01  -2.35628700e+01   5.44830300e+01   3.77791600e+01
  -3.78175300e+01   3.61677800e+01  -2.49162000e+01   1.81152600e+01
   4.15047100e+01   4.07145500e+01   6.45565300e+01   4.67106700e+01
   3.40314200e+01   3.58221300e+01   2.79465300e+01   3.35202900e+01
   5.34796000e+01   5.61530000e+01   3.18466600e+01   1.80157100e+01
   3.33984700e+01   4.09947100e+01   3.54948000e+01   3.27794200e+01
   4.23125600e+01   4.27338300e+01   4.29967100e+01   3.02676000e+01
   5.43139200e+01   3.91509300e+01   5.21082000e+01   3.53091400e+01
   3.56669300e+01   5.04566300e+01   4.76035600e+01   3.66909400e+01
   3.42329400e+01   3.72089700e+01   2.97877200e+01   3.40115600e+01
   5.28835600e+01   3.84377300e+01   4.01432300e+01   4.21796300e+01
   3.03881500e+01   3.37483100e+01   4.41155900e+01   5.45958000e+01
   4.44103300e+01   3.15537900e+01   5.28029000e+01   4.30729500e+01
   3.11689000e+01   3.02421600e+01   5.12756200e+01   3.34508100e+01
   6.21984500e+01   3.03313800e+01   3.35424300e+01   5.09155200e+01
   4.30418100e+01   5.66528600e+01   3.62929000e+01   5.39306300e+01
   3.72884800e+01   3.99522700e+01   4.08603400e+01   3.67311200e+01
   1.94319000e+01   5.64613700e+01   4.62083500e+01   5.24785900e+01
   4.27866800e+01   2.85382300e+01   3.94997400e+01   5.62760900e+01
   4.58072600e+01   8.41770000e+00   3.27486300e+01   4.07908600e+01
  -1.34420000e+01   4.07773500e+01   3.46051500e+01   3.39960400e+01
   3.55206900e+01   4.35760700e+01   3.41678800e+01   4.88843700e+01
   2.15110200e+01   3.82548600e+01   3.31504900e+01   4.06550700e+01
   5.14812600e+01   3.36671000e+01   3.22070300e+01   2.79758000e+01
   3.70857100e+01   3.39069800e+01   4.22306000e+01   6.03907000e+01
   2.57167000e+01   3.43013800e+01   4.13071100e+01   3.54720000e+01
   5.34196100e+01   3.53630200e+01   4.11846600e+01  -1.95963400e+01
   6.49501400e+01   3.09742000e+01   3.41463200e+01   3.85926400e+01
   5.17704500e+01   3.58307300e+01   4.08571500e+01   4.31763000e+01
   1.82232800e+01  -2.92154500e+01   5.57062200e+01   4.26831800e+01
   4.37427000e+01   3.47519000e+01   4.37223300e+01   4.68759100e+01
   5.12717200e+01  -3.39190600e+01   5.29492200e+01   4.55122800e+01
   3.39219200e+01   5.93799100e+01   3.41591700e+01   4.44872100e+01
   4.07926300e+01   3.24629200e+01   4.10518200e+01   5.43140700e+01
   3.02351300e+01   4.69793300e+01   1.95900900e+01   5.06371800e+01
  -3.46085200e+01   3.72718800e+01   4.05875100e+01   4.82025400e+01
   3.80033500e+01   3.13075700e+01   5.49779100e+01   3.30115800e+01
   3.04208400e+01   3.99619600e+01   2.91875200e+01   3.50045900e+01
   2.58995800e+01   5.08205600e+01   2.99536900e+01   4.40011800e+01
   3.42761100e+01   3.62020100e+01   3.90955100e+01  -2.29767300e+01
  -3.70907000e+01   3.23311200e+01   2.90790400e+01  -4.03479000e+00
   3.23650300e+01   4.25484300e+01   4.75650000e+01   2.98993200e+01
   3.78050600e+01   7.37884000e+00   5.15561500e+01   3.91788100e+01
   3.79761500e+01   4.68132000e+01   3.97591100e+01   3.32027100e+01
   3.96425000e+01   3.27483800e+01   4.49790300e+01   5.08260700e+01
   5.05010100e+01   5.94614800e+01   3.36264600e+01   3.85466600e+01
   5.93321700e+01   5.71538200e+01   4.01931600e+01   1.31119900e+01
   3.78786900e+01   5.33437600e+01   4.01903300e+01   4.19450800e+01
   3.41976700e+01   4.93842600e+01   4.64900000e+01   4.08079000e+01
   6.47279000e+00  -1.42429200e+01   3.82589000e+01   3.45639800e+01
   6.09965500e+01   3.35385800e+01   3.53268900e+01   3.04388300e+01
   3.05330100e+01   1.80455200e+01   4.93446300e+01   5.20953000e+01
   4.41610400e+01   2.28175100e+01   3.07906200e+01  -1.06864100e+01
   3.49657800e+01   3.45603900e+01   5.46904000e+01   3.74446600e+01
   3.25850700e+01   3.86266600e+01   5.64246500e+01   3.22215500e+01
   3.60325600e+01   3.35923300e+01   7.95501000e+00   3.50464400e+01
   4.22514700e+01   3.60680000e+01   3.59952700e+01   4.30002900e+01
   3.46774700e+01   3.00837400e+01   3.56130100e+01   4.07426900e+01
   5.28555100e+01   3.97400100e+01   2.61236700e+01   3.86819300e+01
   4.88569200e+01   3.73384700e+01   3.48297300e+01   5.12614300e+01
   3.39816300e+01   4.54215000e+01   4.08525100e+01   5.68514700e+01
   5.10556300e+01   4.23280700e+01   3.56704800e+01   3.95579200e+01
   4.18800000e+01   2.99524400e+01   4.27316000e+01   3.60689900e+01
   4.92604400e+01   4.29868900e+01   1.84661700e+01   5.56763100e+01
   5.08483800e+01   3.52225000e+01   3.26143600e+01   5.30751600e+01
   5.35533400e+01   4.83902300e+01   3.57459500e+01   3.74876000e+01
   4.12606900e+01   3.86277400e+01   3.68765200e+01   3.61539800e+01
   3.38927500e+01   4.01172700e+01   3.35171100e+01   6.01711600e+01
   3.91446500e+01   3.97661800e+01   5.34564400e+01   2.30833000e+01
   3.75114600e+01   4.10981000e+01   3.22986900e+01   3.19014300e+01
   4.28854400e+01  -6.36821000e+00   5.17610200e+01   4.07659600e+01
   4.46461600e+01   3.02203200e+01   4.25038200e+01  -4.12805400e+01
   3.34345100e+01   3.34679700e+01   4.62560500e+01   3.55953000e+01
   1.94556500e+01   4.06921400e+01   3.68326400e+01   4.38716500e+01
   3.61719100e+01   2.57289800e+01   3.92905500e+01   4.08810400e+01
   4.65637000e+00   5.48981400e+01   3.84980900e+01   2.95753500e+01
   3.69740200e+01   3.41880600e+01   3.33530300e+01   4.84283100e+01
   3.91617800e+01   4.21841900e+01   4.55117900e+01   4.15897900e+01
   4.18238700e+01   3.92794000e+01   5.25052400e+01   3.89979200e+01
   3.53320400e+01   3.97392600e+01   4.42315300e+01   5.20577700e+01
   2.63011600e+01   5.24069800e+01   2.31168000e+01   3.31317800e+01
   3.85020500e+01  -3.38696300e+01   1.09740000e-01   5.34097700e+01
   1.80136100e+01   2.93662400e+01   4.24266000e+01   5.03758000e+01
   4.98994200e+01   5.49793800e+01   3.38962700e+01   3.43024600e+01
   3.13062700e+01   5.58578000e+01   3.41945100e+01   5.39533300e+01
   4.38814000e+01   4.20831700e+01   4.74985200e+01   2.62724900e+01
   4.20253400e+01   3.48004600e+01   4.13614900e+01   4.16867600e+01
   3.44732600e+01   6.30365400e+01  -3.63548400e+01   3.09968800e+01
   4.37698000e+01   4.70495400e+01   5.11641800e+01  -9.82491000e+00
   3.74140200e+01   3.93741300e+01   5.18983400e+01   5.69546800e+01
  -1.93220000e+00   3.88235000e+01   3.07675300e+01   3.22004900e+01
   5.17356900e+01   3.40737000e+01   5.37944900e+01   2.97604500e+01
   3.91029500e+01   3.10389600e+01   4.47272000e+01   4.48118700e+01
   5.11165500e+01   4.06785600e+01   5.09776800e+01   3.06554000e+01
   4.29389600e+01   1.82090400e+01   4.15007500e+01   3.27156800e+01
   3.37667200e+01   4.15177600e+01   4.87676700e+01   4.01021600e+01
   3.60632000e+01   3.67183200e+01   4.02178700e+01   5.14523800e+01
   5.87522000e+00   2.36257400e+01   3.41936300e+01   5.38912800e+01
   3.39936300e+01   2.75309200e+01   4.85528600e+01   3.77650900e+01
   4.90103700e+01   4.90821500e+01   4.32118300e+01   4.06886900e+01
   3.35617300e+01   3.56232700e+01   4.86917300e+01   4.14101300e+01
   4.30026000e+01   5.44985700e+01   4.65195900e+01   4.39125300e+01
   3.78224500e+01   3.88962000e+01   4.07174000e+01   3.85784200e+01
   4.69100800e+01   3.42662400e+01   5.15967800e+01   3.01914500e+01
   4.54944100e+01   4.08448000e+01   5.23667000e+01   4.56071800e+01
   3.80876700e+01   5.68754600e+01   4.88831400e+01   3.91064400e+01
   4.22146400e+01   3.40729200e+01   5.14272100e+01   3.23474700e+01
   5.15232800e+01   4.13857200e+01   4.07609900e+01   6.22404900e+01
   3.50373100e+01   3.44192500e+01   3.38640400e+01  -3.39624300e+01
   5.33831100e+01   3.75979100e+01   2.86395100e+01   2.95973300e+01
   2.99752500e+01   3.37621000e+01   5.99122800e+01   3.04397700e+01
   3.80321300e+01   1.75797500e+01   4.02344700e+01   4.40499200e+01
   4.28475100e+01   4.07202300e+01   4.13564400e+01   5.15126200e+01
   4.35801500e+01   4.30143700e+01   3.23192800e+01   3.23801200e+01
   3.35860800e+01   3.94157400e+01   4.33261800e+01   4.13944700e+01
   2.83326800e+01  -3.79001900e+01   4.37137100e+01   3.55384900e+01
   9.08457000e+00   4.19293000e+01   4.72551300e+01   3.80515700e+01
   3.45104200e+01   4.17633200e+01   5.59532700e+01   3.41942300e+01
   3.11550900e+01   4.05725000e+01   5.13147600e+01   5.97595200e+01
   3.19630500e+01   4.62351800e+01   4.81075100e+01  -1.99327200e+01
   3.59242500e+01   4.76100200e+01   4.00157400e+01   3.37490700e+01
   5.15910900e+01   3.80485900e+01   4.57534200e+01   5.14855000e+01
   3.59604300e+01   5.77013300e+01   3.54870300e+01   4.40931900e+01
   3.37119700e+01   5.98584500e+01   3.01660200e+01  -6.17144000e+00
   3.27811500e+01   4.23519000e+01   4.48366300e+01   5.40748500e+01
   3.00667700e+01  -2.43500000e-02   1.80396500e+01   3.25146100e+01
   5.14510200e+01   3.06863900e+01   5.12715600e+01   5.09336400e+01
   4.54381100e+01   3.42003400e+01   3.40279100e+01   3.26151800e+01
   3.42779800e+01   3.56731000e+01  -9.18134000e+00   4.19031100e+01
   3.58568300e+01   5.04480100e+01   3.56139000e+01   3.78695000e+01
   4.17067100e+01   3.40546400e+01   4.57594000e+01   3.89139100e+01
   3.56748400e+01   4.35891500e+01   2.17866000e+01   3.23492200e+01
   3.02240300e+01   3.86605900e+01   3.48235300e+01   3.57803200e+01
   3.59604900e+01   3.95251700e+01   4.54991900e+01   2.13476500e+01
   5.85923200e+01   3.53382600e+01   3.29619700e+01   3.47486500e+01
   3.63048600e+01   4.35882800e+01   1.45629800e+01   4.23933600e+01
   5.14536600e+01   3.15807600e+01   1.68557600e+01  -3.53065400e+01
   3.57217100e+01   4.04383100e+01   2.71044200e+01   4.07179300e+01
   3.63841800e+01   3.40459700e+01  -2.84952200e+01   4.64423100e+01
   4.31989900e+01   4.04203000e+01   3.34672500e+01   5.22353500e+01
   4.15152600e+01   3.39531900e+01   3.84198200e+01   4.10046100e+01
   5.92707400e+01  -2.36361000e+01   3.92627100e+01   4.06962600e+01
   4.84343400e+01   5.17562000e+01   3.40983400e+01   3.56809400e+01
   7.33532000e+00   3.36746600e+01   3.64990500e+01   4.32936800e+01
   3.17591600e+01   1.46355400e+01   3.41661200e+01   1.07344500e+01
   4.09947090e+01   4.22810700e+01   3.42349700e+01   6.96510200e+01
   4.07585100e+01  -2.29656600e+01   5.32626500e+01  -2.57458000e+01
   3.23497300e+01   4.48017100e+01   5.91334900e+01   5.06710900e+01
   2.45543900e+01   3.04951000e+01   3.97402300e+01   4.15249300e+01
   4.65333800e+01   3.35358400e+01   3.11922400e+01]

### Make `mode` and `key` variables categorical

Also check their types and that it is one of the columns of `mss_df`.

In [200]:
mss_df['mode'] = mss_df['mode'].astype('category')
mss_df['key']  = mss_df['key'] .astype('category')
mss_df['key'].dtype, mss_df['mode'].dtype

(category, category)

### Remove constant variables (as they have only one value)

- Remove `danceability` and `energy` variables as all values are zero (0).
- Remove `genre` variable as all of its values are empty strings.

In [201]:
mss_df = mss_df.drop(['danceability','energy','genre'],axis=1)
mss_df.columns.values

array(['duration', 'key', 'loudness', 'mode', 'tempo',
       'artist_familiarity', 'artist_hotttnesss', 'song_hotttnesss',
       'title', 'artist_location'], dtype=object)

## Descriptive statistics

See [Descriptive statistics - pandas docs](http://pandas.pydata.org/pandas-docs/stable/basics.html#descriptive-statistics)

There are three ways to do this. 

1. Display a matrix with all numeric variables as columns and the statistics as rows.
1. For each column use `describe()` to get summary statistics for that column. 
1. Get each summary statistic for all variables. 

We start with the first option. Notice that `danceability` and `energy` are all zero (min and max both are zero). They will be removed from the dataframe.

### Get descriptive stats for each column/variable

In [193]:
mss_df.describe()

,duration,loudness,tempo,artist_familiarity,artist_hotttnesss,song_hotttnesss
count,10000.000000,10000.000000,10000.000000,9996.000000,10000.000000,5648.000000
mean,238.507518,-10.485668,122.915449,0.565456,0.385552,0.342822
std,114.137514,5.399788,35.184412,0.160161,0.143647,0.247220
min,1.044440,-51.643000,0.000000,0.000000,0.000000,0.000000
25%,176.032200,-13.163250,96.965750,0.467611,0.325266,0.000000
50%,223.059140,-9.380000,120.161000,0.563666,0.380742,0.360371
75%,276.375060,-6.532500,144.013250,0.668020,0.453858,0.537504
max,1819.767710,0.566000,262.828000,1.000000,1.082503,1.000000

In [170]:
for colname in mss_df.columns.values:
    print('Column:',colname)
    print(mss_df[colname].describe())
    print('')

Column: danceability
count    10000
mean         0
std          0
min          0
25%          0
50%          0
75%          0
max          0
Name: danceability, dtype: float64

Column: duration
count    10000.000000
mean       238.507518
std        114.137514
min          1.044440
25%        176.032200
50%        223.059140
75%        276.375060
max       1819.767710
Name: duration, dtype: float64

Column: energy
count    10000
mean         0
std          0
min          0
25%          0
50%          0
75%          0
max          0
Name: energy, dtype: float64

Column: key
count     10000
unique       12
top           7
freq       1339
Name: key, dtype: int64

Column: loudness
count    10000.000000
mean       -10.485668
std          5.399788
min        -51.643000
25%        -13.163250
50%         -9.380000
75%         -6.532500
max          0.566000
Name: loudness, dtype: float64

Column: mode
count     10000
unique        2
top           1
freq       6911
Name: mode, dtype: int64

Column: tempo
count    10000.000000
mean       122.915449
std         35.184412
min          0.000000
25%         96.965750
50%        120.161000
75%        144.013250
max        262.828000
Name: tempo, dtype: float64

Column: artist_familiarity
count    9996.000000
mean        0.565456
std         0.160161
min         0.000000
25%         0.467611
50%         0.563666
75%         0.668020
max         1.000000
Name: artist_familiarity, dtype: float64

Column: artist_hotttnesss
count    10000.000000
mean         0.385552
std          0.143647
min          0.000000
25%          0.325266
50%          0.380742
75%          0.453858
max          1.082503
Name: artist_hotttnesss, dtype: float64

Column: song_hotttnesss
count    5648.000000
mean        0.342822
std         0.247220
min         0.000000
25%         0.000000
50%         0.360371
75%         0.537504
max         1.000000
Name: song_hotttnesss, dtype: float64

Column: genre
count     10000
unique        1
top         b''
freq      10000
Name: genre, dtype: object

Column: title
count        10000
unique        9709
top       b'Intro'
freq            14
Name: title, dtype: object

Column: artist_location
count     10000
unique     1046
top         b''
freq       4292
Name: artist_location, dtype: object

The second option displays each statistic (count, min, max, mean, median) for all variables. 

Start by counting the non-missing values for each variable.

In [171]:
mss_df.count(axis=0)

danceability          10000
duration              10000
energy                10000
key                   10000
loudness              10000
mode                  10000
tempo                 10000
artist_familiarity     9996
artist_hotttnesss     10000
song_hotttnesss        5648
genre                 10000
title                 10000
artist_location       10000
dtype: int64

Then compute the minimum for each variable.

In [172]:
mss_df.min(axis=0)

danceability                0
duration              1.04444
energy                      0
key                         0
loudness              -51.643
mode                        0
tempo                       0
artist_familiarity          0
artist_hotttnesss           0
song_hotttnesss             0
genre                     b''
title                     b''
artist_location           b''
dtype: object

Then compute the maximum of each variable.

In [173]:
mss_df.max(axis=0)

danceability                                            0
duration                                          1819.77
energy                                                  0
key                                                    11
loudness                                            0.566
mode                                                    1
tempo                                             262.828
artist_familiarity                                      1
artist_hotttnesss                                  1.0825
song_hotttnesss                                         1
genre                                                 b''
title                             b'\xc3\x9altimo Desejo'
artist_location       b'\xe5\x8f\xb0\xe5\x8c\x97, Taiwan'
dtype: object

Then compute the mean for each variable.

In [174]:
mss_df.mean(axis=0)

danceability            0.000000
duration              238.507518
energy                  0.000000
loudness              -10.485669
tempo                 122.915449
artist_familiarity      0.565456
artist_hotttnesss       0.385552
song_hotttnesss         0.342822
dtype: float64

Then compute the median for each variable.

In [175]:
mss_df.median(axis=0)

danceability            0.000000
duration              223.059140
energy                  0.000000
loudness               -9.380000
tempo                 120.161000
artist_familiarity      0.563666
artist_hotttnesss       0.380742
song_hotttnesss         0.360371
dtype: float64

### Grouped summary statistics

In [179]:
mss_df.groupby('mode').aggregate(np.mean)

,duration,loudness,tempo,artist_familiarity,artist_hotttnesss,song_hotttnesss
mode,,,,,,
0,246.955471,-10.118045,123.735232,0.572518,0.38974,0.356552
1,234.731549,-10.649985,122.549031,0.562297,0.38368,0.336759

In [180]:
mss_df.groupby('key').aggregate(np.mean)

,duration,loudness,tempo,artist_familiarity,artist_hotttnesss,song_hotttnesss
key,,,,,,
0,237.823426,-11.058151,121.650326,0.544550,0.368310,0.315054
1,244.883665,-10.001926,123.349775,0.584262,0.397954,0.362002
2,233.626999,-10.835960,123.222114,0.562147,0.384628,0.338356
3,229.262293,-11.512135,118.350529,0.551910,0.380443,0.330331
4,234.139991,-10.557836,122.786160,0.561873,0.384920,0.352860
5,231.096605,-11.090460,122.702699,0.556122,0.388170,0.324215
6,247.835534,-9.542808,121.108782,0.577913,0.396189,0.375138
7,237.767248,-10.401917,124.835913,0.567382,0.384556,0.333403
8,243.467648,-10.590195,123.817277,0.563032,0.385343,0.372773
9,237.190127,-10.236632,125.600899,0.566308,0.382939,0.338552
10,237.712750,-10.631936,121.343004,0.566870,0.386332,0.350399
11,249.777059,-9.411654,121.321131,0.589646,0.398114,0.356828

### Display correlation matrix for all (numeric) variables

In [177]:
mss_df.corr()

,duration,loudness,tempo,artist_familiarity,artist_hotttnesss,song_hotttnesss
duration,1.000000,0.057247,-0.009968,0.032884,0.021068,0.007042
loudness,0.057247,1.000000,0.179354,0.239432,0.187415,0.226461
tempo,-0.009968,0.179354,1.000000,0.065946,0.050259,0.079031
artist_familiarity,0.032884,0.239432,0.065946,1.000000,0.811102,0.543748
artist_hotttnesss,0.021068,0.187415,0.050259,0.811102,1.000000,0.522261
song_hotttnesss,0.007042,0.226461,0.079031,0.543748,0.522261,1.000000

### Display covariance matrix for all (numeric) variables

In [178]:
mss_df.cov()

,duration,loudness,tempo,artist_familiarity,artist_hotttnesss,song_hotttnesss
duration,13027.372003,35.282129,-40.028926,0.601235,0.345422,0.193065
loudness,35.282129,29.157713,34.075157,0.207052,0.145371,0.289452
tempo,-40.028926,34.075157,1237.942830,0.371603,0.254014,0.681782
artist_familiarity,0.601235,0.207052,0.371603,0.025652,0.018638,0.020232
artist_hotttnesss,0.345422,0.145371,0.254014,0.018638,0.020635,0.016453
song_hotttnesss,0.193065,0.289452,0.681782,0.020232,0.016453,0.061118

### Variable descriptions

See the [Analyzer Documentation](http://developer.echonest.com/docs/v4/_static/AnalyzeDocumentation.pdf) 
and the [API Overview](http://developer.echonest.com/docs/v4/contents.html) 
at the Echo Nest developer site http://developer.echonest.com. 
Most of the following descriptions are from the documentation.
Some are from the API Overview.
See also the [FAQ](http://labrosa.ee.columbia.edu/millionsong/faq) at the MSD site. 

Numeric variable descriptions:

- `duration`: "_the duration of a track in seconds as precisely computed by the audio decoder._"
- `loudness`: "_the overall loudness of a track in decibels (dB). Loudness values in the Analyzer are averaged across an entire track and are useful for comparing relative loudness of segments and tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude)._"
- `tempo`: "_the overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration._"
- `artist_familiarity`: "_numerical estimation of how familiar an artist currently is to the world._"
- `artist_hotttnesss`
- `song_hotttnesss`:

Categorical variable descriptions:

- `mode`: "_iindicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived._"
- `key`: "_the estimated overall key of a track. The key identifies the tonic triad, the chord, major or minor, which represents the final point of rest of a piece._"

Character variable descriptions:

- `title`
- `artist_location`

In [204]:
mss_df.dtypes

duration               float64
key                   category
loudness               float64
mode                  category
tempo                  float64
artist_familiarity     float64
artist_hotttnesss      float64
song_hotttnesss        float64
title                   object
artist_location         object
dtype: object