## Million Songs Dataset - preparation for text mining lyrics

This notebook was initially a copy of 

- `Presentation-Alyssa Create-Dictionary-From-Word-Freq` by Alyssa Tasha

In addition to the HDF5 files, there are also four SQLite databases available. These four databases are:

* [track_metadata.db](http://labrosa.ee.columbia.edu/millionsong/sites/default/files/AdditionalFiles/track_metadata.db) contains most metadata about each track
* [artist_term.db](http://www.ee.columbia.edu/~thierry/artist_term.db) links artists id's to the tags
* [artist_similarity.db](http://www.ee.columbia.edu/~thierry/artist_similarity.db) contains similarity among artists
* [mxm_dataset.db](http://labrosa.ee.columbia.edu/millionsong/sites/default/files/AdditionalFiles/mxm_dataset.db) has lyrics for many of the tracks
   
Information about the first three can be found at http://labrosa.ee.columbia.edu/millionsong/pages/getting-dataset#subset 

For information about the musiXmatch database go to http://labrosa.ee.columbia.edu/millionsong/musixmatch

In [1]:
import pandas as pd
import sqlite3

### Create Connections/Query Database

We first need to create a connection to each of our database files. The connection path specifies the directory in which the downloaded files have been stored. We'll use the connection every time we query the database.

In [2]:
conn_tracks     = sqlite3.connect('/Users/david/Dropbox/Data/track_metadata.db')
conn_terms      = sqlite3.connect('/Users/david/Dropbox/Data/artist_term.db')
conn_similarity = sqlite3.connect('/Users/david/Dropbox/Data/artist_similarity.db')
conn_lyrics     = sqlite3.connect('/Users/david/Dropbox/Data/mxm_dataset.db')
conn_lastfm     = sqlite3.connect('/Users/david/Dropbox/Data/lastfm_tags.db')

### Create a data frame with rows for each track and columns for each word. 

Cells contain the count of that word in the lyrics for that track.

Load the `mss_df` and `lyrics_df` dataframes.

In [3]:
save_load_path = '/Users/David/Desktop'
mss_df = pd.read_pickle(save_load_path+'/mss_df.pkl')

In [4]:
save_load_path = '/Users/David/Desktop'
lyrics_df = pd.read_pickle(save_load_path+'/lyrics_df.pkl')

In [31]:
lyrics_df[0:4]

                track  mxm_tid word  count  is_test
0  TRAAAAV128F421A322  4623710    i      6        0
1  TRAAAAV128F421A322  4623710  the      4        0
2  TRAAAAV128F421A322  4623710  you      2        0
3  TRAAAAV128F421A322  4623710   to      2        0

The `lyrics_df` dataframe was created with the following commands. Don't run them.

lyrics_df = pd.DataFrame(pd.read_sql('SELECT * FROM lyrics',
                                     con=conn_lyrics))
lyrics_df=lyrics_df.rename(columns = {'track_id':'track'})

save_load_path = '/Users/David/Desktop'
lyrics_df.to_pickle(save_load_path+'/lyrics_df.pkl')

There are 5000 unique words in all lyrics of all tracks.

In [5]:
len(pd.unique(lyrics_df.word.ravel())), pd.unique(lyrics_df.word.ravel())

(5000,
 array(['i', 'the', 'you', ..., 'pudiera', 'vuela', 'bla'], dtype=object))

Next, load the stopwords from the `nltk` package.

In [6]:
import nltk 
stopword_set = set(nltk.corpus.stopwords.words('english'))
is_not_stopword = [word not in stopword_set for word in lyrics_df.word.ravel()]

Create dataframe `lyrics_sub_df` by removing the stopwords.

In [7]:
lyrics_sub_df = lyrics_df[is_not_stopword]

More words should be dropped. For example numbers and punctuation.

We went from 19 million to 12 million words-lyrics.

In [8]:
lyrics_df.shape, lyrics_sub_df.shape

((19045332, 5), (12789780, 5))

We have now 4884 unique words for all the lyrics, which doesn't seem like much.

In [9]:
len(pd.unique(lyrics_sub_df.word.ravel())), pd.unique(lyrics_sub_df.word.ravel())

(4884,
 array(['like', 'de', 'got', ..., 'pudiera', 'vuela', 'bla'], dtype=object))

Now merge the lyrics without stopwords dataframe `lyrics_sub_df` with the `mss_df` dataframe.

In [10]:
mss_lyrics_df = lyrics_sub_df.merge(mss_df, how='inner', on='track')

We now of 138 thousand words-lyrics.

In [12]:
mss_lyrics_df.shape

(137908, 121)

But we really just want the variables `track`, `word` and `count`.

In [13]:
mss_lyrics_twc_df = mss_lyrics_df[['track','word','count']]

If we want more variables later then they should be merged into the dataframe.

Now we _gather_ the rows into columns. __R__ users will recall the `tidyr` package.

In [14]:
import numpy as np
mss_lyrics_pvt_df = mss_lyrics_df.pivot(index='track', 
                                        columns='word', 
                                        values='count')

We now only have 2350 tracks, from the original 10,000 of `mss_df`, which have lyrics.

In [17]:
mss_lyrics_pvt_df.shape

(2350, 4735)

Looking at a bit of the dataframe we see mostly `NaN` values and a few numbers.

In [26]:
mss_lyrics_pvt_df.iloc[0:10,140:152]

word,amar,amart,amaz,ambit,amen,america,american,ami,amiga,amigo,amo,among
track,,,,,,,,,,,,
TRAAABD128F429CF47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAAAEF128F4273421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAAAFD128F92F423A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAAARJ128F9320760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAABJV128F1460C49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAABLR128F423B7E3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAABVM128F92CA9DC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
TRAACER128F4290F96,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAACFV128F935E50B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAACHN128F1489601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
NaN_locations = np.isnan(mss_lyrics_pvt_df)
mss_lyrics_pvt_df[NaN_locations] = 0

In [29]:
mss_lyrics_pvt_df.iloc[0:10,140:152]

word,amar,amart,amaz,ambit,amen,america,american,ami,amiga,amigo,amo,among
track,,,,,,,,,,,,
TRAAABD128F429CF47,0,0,0,0,0,0,0,0,0,0,0,0
TRAAAEF128F4273421,0,0,0,0,0,0,0,0,0,0,0,0
TRAAAFD128F92F423A,0,0,0,0,0,0,0,0,0,0,0,0
TRAAARJ128F9320760,0,0,0,0,0,0,0,0,0,0,0,0
TRAABJV128F1460C49,0,0,0,0,0,0,0,0,0,0,0,0
TRAABLR128F423B7E3,0,0,0,0,0,0,0,0,0,0,0,0
TRAABVM128F92CA9DC,0,0,0,0,0,0,0,0,0,0,0,2
TRAACER128F4290F96,0,0,0,1,0,0,0,0,0,0,0,0
TRAACFV128F935E50B,0,0,0,0,0,0,0,0,0,0,0,0
TRAACHN128F1489601,0,0,0,0,0,0,0,0,0,0,0,0

### Ignore the rest

### Reading tags and tracks

In [ ]:
res = conn_lastfm.execute("SELECT * FROM sqlite_master WHERE type = 'table'")
schema1 = res.fetchall()
schema1

After we've created connections, there are a couple of ways we can pull data from the databases:

1. We can use SQLite to create a cursor which then fetches records based on our query parameters. A cursor is a database object used to traverse records in a database. The .execute method creates a cursor and then calls the cursors execute method. It returns the results as a list.

2. We can use the pandas read_sql function. It returns the results as a pandas DataFrame object

First, we'll want to look at the database schema. We'll start off by querying the sqlite_master table from a single sqlite database file using a sqlite cursor. The sqlite_master table defines the schema for the database. We'll use that to get information about the database and create our first query. More information about the sqlite_master table can be found at https://www.sqlite.org/faq.html#q7

Create `tag_df` to contain `tag_id` (from row id) and `tag`

In [ ]:
res = conn_lastfm.execute("select * from tags")
tag_df = pd.DataFrame(res.fetchall(),
             columns=['tag'])
tag_df['tag_id'] = tag_df.index.values + 1
tag_df.shape, len(pd.unique(tag_df.tag.ravel()))

It seems there are over 0.5 million tags!

The following sorts the list of tags and shows that at least this bunch doesn't have duplicates.

In [ ]:
tag_df.sort_values('tag')

Create `track_df` to contain `track_id` and `track`

In [ ]:
res = conn_lastfm.execute("select * from tids")
track_df = pd.DataFrame(res.fetchall(),
             columns=['track'])
track_df['track_id'] = track_df.index.values + 1
track_df[0:5]

Create `tid_tag_df` which will be used to merge `tag_df` and `track_df`

In [ ]:
res = conn_lastfm.execute("select * from tid_tag")
tid_tag_df = pd.DataFrame(res.fetchall(),
                          columns=['track_id', 'tag_id', 'val']
                          )
tid_tag_df[0:4]

Create `track_tag_df` by merging `track_df` and `tag_df` using `tid_tag_df`.

In [ ]:
track_tag_df = tid_tag_df.merge(track_df, 
                             how='inner', 
                             on='track_id') \
                         .merge(tag_df,
                             how='inner',
                             on='tag_id')
track_tag_df.dtypes

## Now we have a dataframe `track_tag_df` with about half a million tags.

I don't know what we can do with this. 

We could merge it with the `mss_df` dataframe (as below) but that doesn't seem productive.

In [ ]:
mss_tag_df = track_tag_df.merge(mss_df[['track','title','release']], 
                                how='inner',
                                on='track')

In [ ]:
mss_tag_df.shape

In [ ]:
len(pd.unique(mss_tag_df.track.ravel()))

### Alyssa's code from here to end

In [ ]:
res = conn_tracks.execute("SELECT * FROM sqlite_master WHERE type = 'table'")
schema1 = res.fetchall()
type(schema1)

In [ ]:
schema1

We find a single table in the track_metadata, songs. We can also see the fields and data types of the columns. We'll query the table using the two methods outlined above (sqlite fetchall() method and pandas read_sql() method) and compare them. For processing speed we limit our query to the first two songs.

In [ ]:
res = conn_tracks.execute("SELECT * FROM songs LIMIT 2")
songs_sqlite = res.fetchall()

We see that these are stored in a list.

In [ ]:
songs_sqlite

To turn it into a pandas DataFrame you can wrap it in a pandas DataFrame object, but you lose some of the information. For example, you can see that the column headers are given as numerical indexes.

In [ ]:
pd.DataFrame(songs_sqlite)

Compare this to using the pandas read_sql function below. When we start pulling data from tables, this seems preferable, since it retains the column headers. But for preliminary exploration, using the sqlite3 fetchall() and fetchone() methods seem more efficient.

In [ ]:
songs_pd = pd.read_sql('SELECT * FROM songs LIMIT 2', con=conn_tracks)
songs_pd

Next, we'll explore each of the databases available to us.

## track_metadata

We've seen that there is a single table in track metadata, called songs. Let's find out more about the table. We use our tracks connection to pull data from the songs table. We use fetchall(), which fetches all of the records. We'll use fetchall to get the length of the list.

We create a connection and use it to get the number of rows in the database (number of items in the list).

In [ ]:
res = conn_tracks.execute("SELECT * FROM songs limit 10")
#len(res.fetchall()) 
res.fetchall()

Then we look at the contents of the list.

In [ ]:
res.fetchall()

We come up with an empty list. Why? 

It's because there are no remaining rows to fetch using that cursor. When we used the cursor to determine the length of our list, we traversed the entire list. We need to re-initialize the cursor to look at the values in the list. We'll save the list to a variable this time.

In [ ]:
res = conn_tracks.execute("SELECT * FROM songs")
tracks = res.fetchall()

In [ ]:
len(tracks), tracks[0]

We can also look at a single track using fetchone(), which fetches the next record.

In [ ]:
res = conn_tracks.execute("SELECT * FROM songs")
res.fetchone(), res.fetchone()

Using fetchone()[i] can be used to extract the ith element from the record.

In [ ]:
res = conn_tracks.execute("SELECT * FROM songs")
res.fetchone()[1]

Finally, lets read all of the data into a dataframe we can use.

In [ ]:
songs = pd.read_sql("SELECT * FROM SONGS", con = conn_tracks)

In [ ]:
songs.head(5)

## artist_term

The first thing we'll do is look at the table structure.

In [ ]:
res = conn_terms.execute("Select * FROM sqlite_master where type = 'table'")
res.fetchall()

We can see that there are 5 tables in this database: artists, terms, artist_term, mbtags, and artist_mbtag

The artists table is simply a list of all of the artists represented in the database. There are 44,745 artists in the database.

In [ ]:
artists = pd.read_sql("SELECT * FROM artists", con=conn_terms)
len(artists), artists.head(5)

The terms table contains 7643 different terms. 

From http://labrosa.ee.columbia.edu/millionsong/pages/what-difference-between-terms-and-mbtags

"Terms" are the tags provided by The Echo Nest. They can come from a number of places, but mostly blogs as far as we understand.

In [ ]:
terms = pd.read_sql("SELECT * FROM terms", con=conn_terms)
len(terms), terms.tail(10)

The artist_term table links artists and terms. There are 1,109,381 rows in this table.

In [ ]:
artist_term = pd.read_sql("SELECT * FROM artist_term", con=conn_terms)
len(artist_term), artist_term.head(10)

We use the sum function to find the number of terms associated with artist "AR002UA1187B9A637D".

In [ ]:
sum(artist_term['artist_id'] == 'AR002UA1187B9A637D')

Next we look at the terms associated with artist "AR002UA1187B9A637D".

In [ ]:
artist_term.loc[artist_term['artist_id'] == 'AR002UA1187B9A637D']

The mbtags table contains 2321 terms. 

 http://labrosa.ee.columbia.edu/millionsong/pages/what-difference-between-terms-and-mbtags

"Mbtags" are musicbrainz tags, specifically applied by humans to a particular artist. This explains why there are fewer of them (see 'mbtags_count'), but they are usually very clean and informative. For instance, if you want to create a genre recognition task where classes are mutually exclusive, mbtags are likely to be more reliable then terms.

In [ ]:
mbtags = pd.read_sql("SELECT * FROM mbtags", con=conn_terms)
len(mbtags), mbtags[200:219]

Finally, the artist_mbtag table associates artists with mbtags.

In [ ]:
artist_mbtag = pd.read_sql("SELECT * FROM artist_mbtag", con=conn_terms)
len(artist_mbtag), artist_mbtag.head(10)

We see that, using mbtags returns fewer results than using terms.

In [ ]:
artist_mbtag.loc[artist_mbtag['artist_id'] == 'AR002UA1187B9A637D']

## artist_similarity

There are two tables in the artist_similarity database: artists and similarity.

In [ ]:
res = conn_similarity.execute("Select * FROM sqlite_master where type = 'table'")
res.fetchall()

There are 44,745 artists in the artists table, the same number of rows in the artist_terms database.

In [ ]:
artists_s = pd.read_sql("SELECT * FROM artists", con = conn_similarity)

In [ ]:
len(artists_s)

In [ ]:
similarity = pd.read_sql("SELECT * FROM similarity", con = conn_similarity)

There are 2,201,916 rows in the similarity table.

In [ ]:
len(similarity)

Using the same artist we used in exploring the artist_term database, we find the artist is similar to 46 other artists.

In [ ]:
similarity.loc[similarity['target'] == 'AR002UA1187B9A637D']

## mxm_dataset

The mxm_dataset has two tables: words and lyrics. 

The words table has a single column: word

The lyrics table has five columns:
track_id: MSD song id
mxm_tid: musiXmatch track id
word: one of the words in the table words
count: the word count for that track
is_test: tells you if a track is in the test set(1) or not(0)

In [ ]:
res = conn_lyrics.execute("Select * FROM sqlite_master where type = 'table'")
res.fetchall()

There are 5000 unique words in the words table. We look at the first 5.

In [ ]:
lyrics_df = pd.DataFrame(pd.read_sql('SELECT * FROM lyrics limit 10', con=conn_lyrics))
lyrics_df[['track_id','mxm_tid','word','count']]

In [ ]:
len(words), words.head(5)

The lyrics table contains the most data of all the tables we've looked at. There are 19,045,332 rows. This is because each row contains two track id's, a word, a count of the number of times the word appears, and a field indicating whether its part of the train or test set.

In [ ]:
lyrics = pd.read_sql("SELECT * FROM lyrics", con=conn_lyrics)

In [ ]:
len(lyrics)

In [ ]:
lyrics.head(5)

In [ ]:
lyrics.loc[lyrics['track_id'] == 'TRAAAAV128F421A322']

Last, we close our database connections.

In [ ]:
conn_tracks.close()
conn_terms.close()
conn_similarity.close()
conn_lyrics.close()
conn_lastfm.close()

### Resources

http://labrosa.ee.columbia.edu/millionsong/musixmatch

http://labrosa.ee.columbia.edu/millionsong/blog/11-4-11-musixmatch-dataset-connecting-lyrics

https://docs.python.org/3.5/library/sqlite3.html

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html