# Exam preparation material (MA755, Apr 2016)

The exam will consist of code (almost entirely) from this file. 

Each problem will ask you to produce the output from code in a particular cell (below).

I'll want you to determine 
- what output is produced, indicating the arrangement of items
- whether the output is a list, dictionary, set, dataframe, array or scalar 

No electronics or notes are allowed on the exam.

## Dictionaries

In [153]:
sentence = "Peter Piper picked a peck of pickled peppers A peck of pickled \
peppers Peter Piper picked If Peter Piper picked a peck of pickled \
peppers Where is the peck of pickled peppers Peter Piper picked"

word_dict = {}

for word in sentence.split():
    if word not in word_dict:
        word_dict[word] =1
    else:  
        word_dict[word]+=1

print (word_dict)

{'If': 1, 'peppers': 4, 'the': 1, 'of': 4, 'Piper': 4, 'pickled': 4, 'picked': 4, 'is': 1, 'Where': 1, 'peck': 4, 'A': 1, 'a': 2, 'Peter': 4}

In [152]:
for key, value in word_dict.items():
    print (key,value)

If 1
peppers 4
the 1
of 4
Piper 4
pickled 4
peck 4
picked 4
Wheres 1
A 1
a 2
Peter 4

## Tuples

In [154]:
a_tuple = (1,2,'a')
b_tuple = 1,2,'c'

print (b_tuple[0])
print (b_tuple[-1])

1
c

In [156]:
try:
    b_tuple[0] = 20
except:
    print("Cannot change value of tuple by index")

Cannot change value of tuple by index

In [158]:
a_tuple + b_tuple

(1, 2, 'a', 1, 2, 'c')

In [159]:
a =(1,2,3,4,5,6,7,8,9,10)

print (a[1:])
print (a[1:3])
print (a[1:6:2])
print (a[:-1])

print (min(a),max(a))

if 3 in a:
    print ("Element 1 is available in tuple a")
else:
    print ("Element 1 is available in tuple a")

(2, 3, 4, 5, 6, 7, 8, 9, 10)
(2, 3)
(2, 4, 6)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
1 10
Element 1 is available in tuple a

## Sets

In [19]:
# 1.Initialize two sentences.
st_1 = "dogs chase cats"
st_2 = "dogs hate cats"

# 2.Create set of words from strings
st_1_wrds = set(st_1.split())
st_2_wrds = set(st_2.split())

# 3.Find out the number of unique words in each set, vocabulary size.
no_wrds_st_1 = len(st_1_wrds)
no_wrds_st_2 = len(st_2_wrds)

# 4.Find out the list of common words between the two sets.
# Also find out the count of common words.
cmn_wrds = st_1_wrds.intersection(st_2_wrds)
no_cmn_wrds = len(st_1_wrds.intersection(st_2_wrds))

# 5.Get a list of unique words between the two sets.
# Also find out the count of unique words.
unq_wrds = st_1_wrds.union(st_2_wrds)
no_unq_wrds = len(st_1_wrds.union(st_2_wrds))

# 6.Calculate Jaccard similarity 
similarity = no_cmn_wrds / (1.0 * no_unq_wrds)

# 7.Let us now print to grasp our output.
print ("No words in sent_1 = %d"%(no_wrds_st_1))
print ("Sentence 1 words =", st_1_wrds)
print ("No words in sent_2 = %d"%(no_wrds_st_2))
print ("Sentence 2 words =", st_2_wrds)
print ("No words in common = %d"%(no_cmn_wrds))
print ("Common words =", cmn_wrds)
print ("Total unique words = %d"%(no_unq_wrds))
print ("Unique words=",unq_wrds)
print ("Similarity = No words in common/No unique words, %d/%d = %.2f"%(no_cmn_wrds,no_unq_wrds,similarity))

No words in sent_1 = 3
Sentence 1 words = {'cats', 'chase', 'dogs'}
No words in sent_2 = 3
Sentence 2 words = {'cats', 'hate', 'dogs'}
No words in common = 2
Common words = {'cats', 'dogs'}
Total unique words = 4
Unique words= {'dogs', 'cats', 'chase', 'hate'}
Similarity = No words in common/No unique words, 2/4 = 0.50

## Lists

In [161]:
# 1.Let us look at a quick example of list creation. 
a = range(1,10)
print (a)
b = ["a","b","c"]
print (b)

# 2.List can be accessed through indexing. Indexing starts at 0.
print (a[0])

# 3.With negative indexing the elements of a list are accessed from the end
print(a[-1])
print(a[-2])

# 4.Slicing is accessing a subset of list by providing two indices.
print (a[1:3])  # prints [2, 3]
print (a[1:])   # prints [2, 3, 4, 5, 6, 7, 8, 9]
print (a[-1:])  # prints [9]
print (a[:-1])  # prints [1, 2, 3, 4, 5, 6, 7, 8]

#5.List concatenation
a = [1,2]
b = [3,4]
print (a + b) # prints [1, 2, 3, 4]

# 6.	List  min max
print (min(a),max(a))

# 7.	in and not in
if 1 in a:
    print ("Element 1 is available in list a")
else:
    print ("Element 1 is available in tuple a")

# 8. Appending and extending list
a = list(range(1,10))
print (a)
a.append(10)
print (a)

# 9.List as a stack
a_stack = []

a_stack.append(1)
a_stack.append(2)
a_stack.append(3)

print (a_stack.pop())
print (a_stack.pop())
print (a_stack.pop())

# 10.List as queue
a_queue = []

a_queue.append(1)
a_queue.append(2)
a_queue.append(3)

print (a_queue.pop(0))
print (a_queue.pop(0))
print (a_queue.pop(0))

# 11.	List sort and reverse
from random import shuffle
a = list(range(1,20))
shuffle(a)
print (a)
a.sort()
print (a)

a.reverse()
print (a)

range(1, 10)
['a', 'b', 'c']
1
9
8
range(2, 4)
range(2, 10)
range(9, 10)
range(1, 9)
[1, 2, 3, 4]
1 2
Element 1 is available in list a
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3
2
1
1
2
3
[4, 2, 5, 11, 9, 13, 1, 14, 7, 8, 16, 10, 17, 18, 6, 15, 12, 3, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## List comprehension

In [166]:
a = [-3, -2, -1, 0, 1, 2, 3]

b = [pow(x,3) for x in a if x < 0]

print (b)

[-27, -8, -1]

## Dictionary comprehension

In [167]:
a = {'a':1, 'b':2, 'c':3}

b = {x:pow(y,2) for x,y in a.items()}

print (b)

{'c': 9, 'a': 1, 'b': 4}

## Functions

In [168]:
def square_input(x):
    return x*x

square_me = square_input

print (square_me(5) )

25

In [169]:
def sum_square(x):
    def square_input(x):
        return x*x
    return sum([square_input(x1) for x1 in x])

print (sum_square([2,4,5]) )

45

In [172]:
from math import log

def square_input(x):
    return x*x

def apply_func(func_x,input_x):
    return list(map(func_x,input_x))
    
a = [5,4,3,2,1]

print (apply_func(square_input,a))

[25, 16, 9, 4, 1]

In [173]:
def cylinder_vol(r):
    pi = 3.141
    def get_vol(h):
        return pi * r**2 * h
    return get_vol

radius = 10
find_volume = cylinder_vol(radius)

height = 10
print ("Volume of cylinder of radius %d and height %d = %.2f  cubic units" \
                %(radius,height,find_volume(height)))        

height = 20
print ("Volume of cylinder of radius %d and height %d = %.2f  cubic units" \
                %(radius,height,find_volume(height)))

Volume of cylinder of radius 10 and height 10 = 3141.00  cubic units
Volume of cylinder of radius 10 and height 20 = 6282.00  cubic units

In [179]:
a =[5,4,3,2,1]

def do_list(a_list,func):
    total = 0
    for element in a_list:
        total+=func(element)
    return total

print (do_list(a, lambda x: x**2))

55

## Functions applied to lists

In [180]:
a = [10,20,30]

print (list(map(lambda x:x**2, a)))

[100, 400, 900]

In [185]:
print (list(
        zip([0,1,2,3,4,5], 
            [6,7,8,9,10,11,12])))

[(0, 6), (1, 7), (2, 8), (3, 9), (4, 10), (5, 11)]

## Pandas dataframes

In [187]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [188]:
col_data = {'var1' : [1.0, 2.0, 3.0, 4.0],
            'var2' : [10 , 20 , 30 , 40 ]}

col_df = pd.DataFrame(col_data)
col_df

   var1  var2
0   1.0    10
1   2.0    20
2   3.0    30
3   4.0    40

In [189]:
row_data= [(30,'Hello'), (222,"World")]
row_df = pd.DataFrame(row_data,columns=['var2','var3'])
row_df

   var2   var3
0    30  Hello
1   222  World

In [190]:
concat0_df = pd.concat([col_df, row_df], axis=0)
concat0_df

   var1  var2   var3
0   1.0    10    NaN
1   2.0    20    NaN
2   3.0    30    NaN
3   4.0    40    NaN
0   NaN    30  Hello
1   NaN   222  World

In [191]:
concat1_df = pd.concat([col_df, row_df], axis=1)
concat1_df

   var1  var2   var2   var3
0   1.0    10   30.0  Hello
1   2.0    20  222.0  World
2   3.0    30    NaN    NaN
3   4.0    40    NaN    NaN

In [192]:
concat0_df[0:3]

   var1  var2 var3
0   1.0    10  NaN
1   2.0    20  NaN
2   3.0    30  NaN

In [193]:
concat0_df['var3']

0      NaN
1      NaN
2      NaN
3      NaN
0    Hello
1    World
Name: var3, dtype: object

In [194]:
concat0_df[['var2','var3']]

   var2   var3
0    10    NaN
1    20    NaN
2    30    NaN
3    40    NaN
0    30  Hello
1   222  World

In [195]:
axis0_df[axis0_df.var2>100]

   var1  var2   var3
1   NaN   222  World

In [196]:
concat0_df[axis0_df.var2>100][['var2']]

   var2
1   222

In [197]:
merge1_df = col_df.merge(row_df, on='var2')
merge1_df

   var1  var2   var3
0   3.0    30  Hello

## Numpy

In [198]:
a = np.array([2,3,4])
a

array([2, 3, 4])

In [199]:
a[1]

3

In [200]:
a + a**2

array([ 6, 12, 20])

In [201]:
c = np.array( [ [1,2,3], [4,5,6], [7,8,9], [10, 11, 12]] )
c

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [202]:
c.shape

(4, 3)

In [203]:
c[1,2]

6

In [204]:
c[1][2]

6

In [205]:
c.dot(a)

array([ 20,  47,  74, 101])

In [206]:
c.T

array([[ 1,  4,  7, 10],
       [ 2,  5,  8, 11],
       [ 3,  6,  9, 12]])

In [207]:
(a.T).dot(c.T)

array([ 20,  47,  74, 101])